recursive-include wwpdb/utils/nmr/NEFTranslator/lib *.csv
recursive-include wwpdb/utils/nmr/bmrb_cs_stat *.csv *.pkl
# Needed so pynmrstar does not contact github to pull data
recursive-include wwpdb/utils/nmr/nmr-star_schema *.pkl
